.mobile-nav {
  display: none;
  position: absolute;
  top: 35px;
  left: 15px;
}

.mobile-nav__burger {
  width: 33px;
  height: 18px;
  flex-shrink: 0;
  cursor: pointer;
}

.mobile-nav__toggler {
  display: none;
}

.mobile-nav__menu {
  position: fixed;
  inset: 0;
  padding: 30px 20px 10px;
  background-color: var(--co-white);
  translate: -100% 0;
  transition: translate 0.33s;
}

.mobile-nav__toggler:checked ~ .mobile-nav__menu {
  translate: 0;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 30px;
}

.mobile-nav__link {
  font-size: 30px;
}

.mobile-nav__link:hover {
  color: var(--co-green);
}

.obile-nav__close {
  position: absolute;
  top: 40px;
  left: 20px;
}

.mobile-nav__cross {
  width: 25px;
  height: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
}
